body { 	background: url(images/winecellar.jpg);
       	color: #000000;
	margin : 0;
	padding: 0;
       	font-family: Arial, Helvetica, sans-serif;
}

#wrapper { background-color: #381C08;
	   color: #000000;
	   margin-left: auto;
	   margin-right: auto;
	   width: 775px;
	   height: 180%;
	   margin-top: 50px;
	   padding-left: 10px;
	   padding-right: 10px;
	   padding-top: 10px;
	   padding-bottom: 10px;
	   border: 2px;
}

#top  {	background-color: #381C08 ;
	padding: 5px;
	height: 225px;
}

#floatright  { float: right;
	       	margin-left:10px;
}


#topimg  {	align: center;
		width: 900px;
		height: 225px;
}
	

#leftcolumn { 	background-color: #ffffff;
		margin-top: 5px;
		margin-right: 5px;
		float: left;
	      	width: 170px;
	    	display: block;
}

#rightcolumn { 	background-color: #ffffff;
		margin-left: 175px;
		margin-top: 5px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 10px;
		
}

#ul {	list-style-type:none;
	color: #cc0000;
	font-weight: bold;
}

#footer { 	text-align: center;
       		font-size: .8em;
		border-top: 1px solid #cc0000;
}



.navList {	padding: 0 1px 1px;
		color: #000000;
 		font: bold 12px Ariel, sans-serif;
 		background-color: #ffffff;
 		width: 13em;
		border: 10px;
}

.navList li { 	list-style: none;
		margin: 0;
 		border-top: 1px #000000;
 		text-align: left;
}

.navList li a {	display: block;
 		padding: 0.25em 0.5em 0.25em 0.75em;
		border-left: 1em solid #000000;
		background: #ffffff;
 		text-decoration: none;
}

.navList li a:link { color: #cc0000; }

.navList li a:visited { color: #667; }

.navList li a:hover {	border-color: #ffffff;
 			color: #FFF;
 			background: #cc0000;
}

.navList #current {	border-color: #FE3;
 			color: #FFF;
 			background: #cc0000;
}

.copyright { font-style: italic;
}

.p1 {		margin-left: 20px;
		margin-right: 20px;
		background-color: #c0c0c0;
		color: #000080;
}

.p2 {		margin-left: 30px;
		background-color: #000080;
		color: #c0c0c0;
}

.p3 {		margin: 20px;
		padding: 5px;
		background-color: #ffc0cb;
		color: #191970;
}

.statelist{	margin: 20px;
		padding-left: 10px
		list-style-type: square;
		background-color: #191970;
		color: #ffc0cb;
}	

.table {
	margin-left: auto;
    margin-right: auto;
}

.form-section{
	padding: 1em;
	width: 90%;
	margin: 0 auto;
}

.button{
	margin: 1em auto;
	width: 80px;	
}

.button > input{
	width: 100%;
}

.result-message{
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
}